@import "colors.scss";

#section {
  background-color: $neutral-white;
  padding: 1.4rem;
  box-shadow: 1px 1px rgb(10, 10, 10, 0.05);
  border-radius: 1rem;
  border-bottom-right-radius: 10rem;
  width: 98%;
  max-width: 60rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.container-input {
  display: flex;
  flex-direction: column;
}
